*{
    font-family: 'Poppins', sans-serif;
    
}
table, td {
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}
h1::first-letter {
   color: aqua;
}
h1 {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
    font-size: 24px;
    color: rgb(4, 71, 88);
}
@media screen and (max-width: 501px){
    table {
        width: 300px;
        height: 200px;
    }
    h1:first-letter {
          color: yellow; 
          font-size: 20px; 
    }
    h1 {
        color: green;
        font-size: 20px;
    }
    
}
@media screen and (max-width: 1000px) and (min-width: 601px){
      table {
        width: 600px;
        height: 300px;
      }
      h1 {
        color: rgb(83, 9, 61);
      }
      h1::first-letter {
        color: rgb(83, 9, 61);
      }
}